

/* ==========================================================================
   Steven Jackson's custom styles
   ========================================================================== */

   /*Header*/
   body {padding: 0px;}
   h1 {color: #ffc038; font-size: 54px; font-weight: 700;}
   h1 > img {padding-bottom: 20px;}
   h2 {color: #fff; font-size: 32px; margin-top: 10px; }
   h2 span {font-weight: 700;}

   div.heading-title {text-align: left; font-size: 53px; margin-top: 10%; }
   .panel {border-radius: 0px !important; height: 550px;}
   div.panel-default {padding: 21px; background-color: #000; opacity: 0.8; color: #fff;border: 1px solid white !important;margin-top: 30px;    text-shadow: 0px 0px #fff;}
   div.panel-default:nth-child(2){display:none;}
   .panel-default>.panel-heading {background-image: none !important; padding: 0px;}
   div.panel-heading { color: #fff !important;border-bottom: solid 1px #fff; font-weight: 700; }
   div.panel-heading > span {color: #ffc20f;opacity: 1; font-size: 16px; font-weight: 400;}
   div.panel-footer{border-top: 0px !important;}
   div.panel-footer > a {padding: 10px 20px; color: #000; background-color: #ffc20f; font-weight: 700;text-decoration: none;}
   div.panel-footer img {height: 14px;}
   div.promo-panel {margin-top: 0px !important;    height: 655px;    text-shadow: 0px 0px #fff;}
   span.price {color: #ffc20f; font-size: 18px; }
   span.sub-price { font-size: 18px;padding-bottom: 10px;}
   div.panel-body p{ padding-top: 20px; min-height: 180px;}
   div.panel-heading img {padding-bottom: 25px; max-height: 140px;}

   .home-link { font-weight: bold; color: #2D2E36; }

/*Table*/
.table>tbody>tr>th {padding: 22px !important; width: 325px; vertical-align: middle !important; color: #000;}
.table>tbody>tr>td{text-align: center; border-color: #aaabbd; color: #fff; padding: 18px; vertical-align: middle !important;}
div.table-wrapper {margin: 0px 7%;}
table {border-color: #fff; }
th {text-align: center; border-color: #dea32f; padding: 23px; background-color: #d9a50c; font-weight: 700; font-size: 16px;padding: 22px;}
table td {width: 33.3%;}
td.membership-fee {background-color: #ffc038; border-color: #e5c158;  font-weight: 700 !important; padding: 10px !important; color:#000 !important;}
td.table-button {padding: 28px;}
td.table-button img {height: 26px;}
td > a {padding: 5px 15px; color: #29292d;  font-weight: 700;text-decoration: none;}





   /*Section*/
   section {padding: 30px 0px;}
   section p {    margin-left: 7%; line-height: 1; color: #e8e8ec; text-decoration: none;}
   section p a{   line-height: 1; color: #e8e8ec; text-decoration: none;}
   section p a:hover{    line-height: 1; color: #e8e8ec; text-decoration: none;}


   /*Footer*/
   footer{background-color: #0c080b; color: #fff;}
   div.logo > img {float: right; padding-right: 40px; margin: 0px !important;}
   div.call-back {margin: 30px 0px;}
   div.call-back > a {padding: 15px 80px; background-color: #ffc20f;color: #463d29; font-weight: 700;}
   /*div.wrapper {padding-top: 40px;}*/
   div.copyright > p {margin: 40px 0px;}



   @media (max-width: 980px) {
      div.copyright > p {margin: 0px; text-align: center; }
      div.logo  {margin-left: 25% !important;}
      div.promo-panel {height: auto;}

.table>tbody>tr>td {
    text-align: center;
    border-color: #aaabbd;
    color: #fff;
    font-size: 10px;
    padding: 3px;
    vertical-align: middle !important;
}

.table>tbody>tr>td {
    text-align: center;
    border-color: #aaabbd;
    color: #fff;
    font-size: 10px;
    padding: 3px;
    vertical-align: middle !important;
}

.table>tbody>tr>th {
     padding: 20px 0px !important; 
    vertical-align: middle !important;
    font-size: 9px;
}

td.table-button img {
    height: 15px;
}

td > a {padding: 0px; color: #29292d;  font-weight: 700;text-decoration: none;}
   }


/* New styles - Steven Jackson - 7 May 2016 */
.first-block, .mid-block, .last-block {min-height: 370px;} 
p.mid-heading > span{color: #2d2e36;}
span.plus-sign {font-size: 20px; }
p.mid-heading > span{color: #2d2e36;}
div.block-content {font-size: 16px;}
div.block-callout-text {font-size: 34px;}
p.mid-heading{
  color: #2d2e36;
  font-size: 36px;
  margin: 30px 0px; 
  font-weight: 700;
}


/*New styles - Steven Jackson - 20 June 2016*/
section.table-section {background-color: #999999;}
section.table-section h3{color: #fff; font-weight:  700; font-size: 36px;}
nav img {max-height: 46px;} 
.table>tbody>tr>td:nth-child(1){color:  #000; font-weight:  700;}
a.journey-btn {padding: 10px 20px; color: #fff; background-color: #207fa6;}
a.call-btn {padding: 10px 20px; color: #000; background-color: #ffc838; }
a img {max-height: 16px; padding: 0px 0px 2px 0;}
nav a img {max-height: none; padding: 0;}
.terms-conditions > p {color: #fff; margin: 0;}
section.callout-section {padding: 0px; }
footer {background-image:url(../img/footer-bg.png); padding: 50px 0;}
nav.container {    padding: 10px 50px;}
h1 span {color: #fff;}
h2 span {color: #ffc038;}
.down-arrow img {padding: 20px 0;}
td a img{max-height: none !important;}


section.mid {color:#2d2e36;}
section.mid h3 {color: #fff; font-weight: 700; font-size: 28px;}
div.last-block span {}
.panel-heading {float: left; margin: 20px 10%;}
hr.line {width: 15%;float: left;}
.panel-heading.advantage { margin: 20px 20%; }

@media (max-width: 700px) {
  .panel-heading {float: none !important; text-align: center;}
  hr.line {display: none;}
  .panel-body {text-align: center;}
  .mid-block { border-top: 1px #758b99 solid; border-bottom: 1px #758b99 solid; border-right: 0px; border-left: 0px; padding: 20px; min-height: auto;} 
  .last-block { padding: 20px; min-height: auto;}
}



@media (min-width: 700px) and (max-width: 992px) {
 .panel {border-radius: 0px !important; height: auto;}
 div.heading-title {text-align:  center;}
 .panel-heading.advantage {margin: 20px 13%;}
  /*.mid-block { border-top: 1px #758b99 solid; border-bottom: 1px #758b99 solid; border-right: 0px; border-left: 0px; padding: 20px; min-height: auto;} */
  .last-block { padding: 20px; min-height: auto;}
}

@media (max-width: 992px) {

 div.heading-title {text-align:  center;}

}

@media (max-width: 600px) {

 div.heading-title h1 {text-align:  center; font-size: 45px !important;}
 a.journey-btn {
    font-size: 9px;
}
a.call-btn {
    font-size: 9px;
}
}