  <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" ng-controller="MainController">
                <li class="sidebar-brand">            
                        <span><a href="http://steven-daniell-jackson.github.io/">Steven Jackson</a></span>
                </li>
                <li>
                    <a href="#/home">Demo</a>
                </li>
                <li>
                    <a href="#/">Demo</a>
                </li>
                <li>
                    <a href="#/">Demo</a>
                </li>
                
                <li>
                    <a href="#/">Demo</a>
                </li>
                <li>
                    <a href="#/">Demo</a>
                </li>
                <li>
                    <a href="#/">Demo</a>
                </li>
                <li>
                    <a href="#/">Demo</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->