body {
  font-family: 'Open Sans', sans-serif;
}
h2 {
padding: 50px 0;

}
img {
  z-index: -1;
}
/* Font Face */
/* Colors */
/*  Custom Styles */
header {
  background: #fff;
}
header img {
  margin: 5px 20px;
  float: left;
}
.banner {
  background: url(../images/banner.jpg) no-repeat;
  padding: 40px 0px;
  background-size: cover;
}
.banner h1 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  font-weight: 800;
  text-align: left;
}
.banner p {
  font-size: 18px;
  color: #333333;
  font-weight: 600;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
.banner img {
  float: left;
  margin-top: 10px;
}
.banner .form-wrapper {
  float: right;
  margin-top: -80px;
  display: block;
  max-width: 300px;
  border-radius: 10px;
  background: #f7f7f7;
  padding: 20px;
  -webkit-box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.5);
}
.banner .form-wrapper .input {
  width: 100%;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 5px;
  padding-left: 10px;
  height: 30px;
  color: #333;
  font-size: 14px;
  border: 1px solid #e7e7e7;
}
.banner .form-wrapper .select {
  width: 100%;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 5px;
  padding-left: 10px;
  height: 30px;
  color: #333;
  font-size: 14px;
  border: 1px solid #e7e7e7;
}
.banner .form-wrapper .btn {
  width: 100%;
  background: #f48120;
  border-radius: 5px;
  height: 50px;
  font-size: 18px;
  color: #fff;
  -webkit-box-shadow: 0px 7px 0px 0px #d06103;
  -moz-box-shadow: 0px 7px 0px 0px #d06103;
  box-shadow: 0px 7px 0px 0px #d06103;
}
.banner .form-wrapper .btn:hover {
  background: #FFAB33;
}
.content {
  padding: 0px 0px;
}
.content h3 {
  font-size: 26px;
  font-weight: 800;
  color: #333333;
  padding: 2% 0%;
  text-align: left;
}
.content h4 {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  text-align: left;
}
.content .table-head th,
.content .table-bordered {
  border: none!important;
}
.content th {
  text-align: center;
}
.content th img {
  vertical-align: top;
}
.content table,
.content tbody,
.content tr,
.content td {
  border-color: #7fb176!important;
}
.content .green-bg {
  background: #d3edce;
}
.content .tt {
  text-align: left;
}
.content .fine-text {
  font-size: 12px;
  font-style: italic;
  color: #666;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
}
.choose {
  background: #efefef;
  padding: 40px 0px;
}
.choose h3 {
  font-size: 26px;
  font-weight: 800;
  color: #333333;
  padding: 2% 0%;
  text-align: left;
}
.choose .lightbox {
  list-style: none;
  text-align: center;
}
.choose p {
  margin-bottom: 30px;
  text-align: left;
}
.pre-footer {
  background-color: #969393;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 80px;
}
.pre-footer h5 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.pre-footer .btn {
  font-weight: 700;
  width: 80%;
  background: #f48120;
  border-radius: 5px;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  -webkit-box-shadow: 0px 7px 0px 0px #d06103;
  -moz-box-shadow: 0px 7px 0px 0px #d06103;
  box-shadow: 0px 7px 0px 0px #d06103;
}
.pre-footer .btn:hover {
  background: #FFAB33;
}
footer {
  padding: 60px;
  background-color: #222222;
  color: #6d6e70;
}
footer p {
  margin-top: 40px;
 
}
.clear:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/* Media Queries */
@media (max-width: 992px) {
  .form-wrapper {
    float: none!important;
    margin-top: 0!important;
    max-width: 100%!important;
    margin-top: 40px!important;
  }
  .banner img {
    float: none!important;
  }
  .banner h1,
  p {
    text-align: center!important;
  }
  .content p {
    text-align: center!important;
  }
  .content h4 {
    text-align: center;
    margin-top: 20px;
  }
  .content img {
    padding: 0!important;
  }
  .content h3 {
    padding-bottom: 30px;
    text-align: center!important;
  }
  .choose h3,
  h4 {
    text-align: center!important;
  }
  .package img {
    margin-top: 30px;
  }
  .package h3 {
    text-align: center!important;
  }
  .pre-footer .btn {
    width: 60%!important;
  }
}
@media (max-width: 550px) {
  .fine-text {
    line-height: 14px!important;
  }
}
.lightbox:hover:before {
  content: '';
  display: block;
  background: rgba(255, 152, 51, 0.5);
  /* your background */
  width: 56%;
  /* image width */
  height: 80%;
  /* image height */
  position: absolute;
  top: 10%;
  right: 22%;
}

img.qb-online-img {
    max-width: 300px;
}
.row {margin:0px;}

.row.spacer{
  padding: 35px;
}

.qb-plans-list {
  padding-left: 18px;
}

.qb-plans-list li {
  padding-left: 30px;
}

.pack_images img {
  max-width: 90px;
  height: auto;
}

div.first-grid {
  padding: 40px 0;
}

div.content-title {
  padding: 20px 0;
  font-weight: 700;
}

div.content-title.exception {
  padding: 20px 0 40px 0;
  font-weight: 700;
}

section.background-grey {
  background-color: #efefef;
  margin: 60px 0 20px 0;
  padding-bottom: 50px ;
}

div.banner-text {
  font-size: 40px;
color: #fff;
font-weight: 700;
text-align: center;
    position: relative;
    margin-top: 4%;
    left: 12%;
    display: block;
}

div.banner-text > span {color:#f48120; font-size: 52px; }

a.back-to-top {
  padding: 15px 30px;
  background-color: #f48120;
  color: #fff;
}

#first {padding-bottom: 40px;}
#first p {font-size: 21px;}
#third {padding: 40px 0px;}


#payroll-list {list-style-image: url('http://dev3.roimedia.co.za/quickbooks/wp-content/uploads/2016/01/li-piggy-e1453194664731.png');}
#payroll-list li {line-height: 2;padding-left: 20px;}
.wrapper {background-color: #efefef; padding-bottom: 40px;}
td {padding: 10px 10px;}
tr:nth-child(odd){background-color: #ffb586; color:#000;}


@media (max-width:  800px) {
  div.banner-text {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-top: 15%;
    left: 0% !important;
    display: block;
}

div.qb-online  .qb-online-content {
  padding-top: 20px;
}

}
