<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/main.css">


  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

  <!-- Facebook Conversion Code for AA Blue Train Journey -->
  <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
    }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6034619871506', {'value':'0.00','currency':'ZAR'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6034619871506&amp;cd[value]=0.00&amp;cd[currency]=ZAR&amp;noscript=1" /></noscript>



</head>
<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
     

            <!-- Start of Header -->
            <div class="jumbotron">
              <div class="container">

                <div class="row">
                  <div class="col-lg-8 col-md-8 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-2">
                    <h1>Experience quality and the journey of a<br> lifetime with the <span>AA</span></h1>
                    <p><span>WIN</span> one of 3 unforgettable journeys for two on the iconic Blue Train </p>
                  </div>


                  <div class="col-lg-4 col-sm-12 col-xs-12 col-md-4">
                    <form class="enquiry-form" style="height:620px">
                      <fieldset>

                        <!-- Enquiry Form -->
                        <legend>FILL IN YOUR DETAILS</legend>
                        <h3>WE'LL CALL YOU!</h3>
                        <!-- Name input-->

                        <span class="thank-you">Thank you for your submission</span>

                      </fieldset>
                    </form>

                  </div>

                </div>

              </div>

            </div>
          </div>

        </div>
        <!-- End of Header -->



        <div class="container">
          <!-- Example row of columns -->
          <div class="row">

            <section class="lead col-lg-8 col-lg-offset-2 text-center">

              <h3>AA Membership gives you real peace-of-mind with world class benefits and quality service, whether you’re close to home or on holiday…</h3>


              <ul >
                <li>&bullet; Breakdown and accident towing with Stand By You roadside security * </li>
                <li>&bullet; AA Mayday emergency medical rescue for you and your family members travelling
                  with  you</li>
                  <li>&bullet; Extended benefits for emergencies far from home, including: alternative transport,
                    overnight accommodation, long distance towing</li>
                    <li>&bullet; On-the-spot technical repairs, locksmith services, tyre repairs,  AA Battery Service
                      including mobile battery sales</li>
                      <li>Free telephonic motor-related legal, emergency medical and technical advice</li>
                    </ul>
                  </section><!-- end section -->

                </div><!-- end row -->

              </div>


              <div class="row">
                <section class="membership col-lg-10 col-lg-offset-1 text-center">

                  <h3>If you are not a Member yet, choose the Membership option that suits you:</h3> <br>

                  <div class="img-wrapper">
                   <a href="http://www.aa.co.za/products/aa-membership/apply-now/&pc=BLUETRAIN"><img class="img-responsive" src="img/panel-img.png" alt=""></a>
                  </div>
                </section>
              </div>


              <footer>
                <section class="row">

                  <div class="container text-center">

                    <!-- Start Competition form -->
                    <form action="http://www.aa.co.za/products/aa-membership/apply-now/&pc=BLUETRAIN" class="competition-form">

                      <legend>TO ENTER:</legend>
                      <h3><span>1.</span> Confirm that you are able to travel on the dates below:</h3>

                      <p>
                        3 September:  Pretoria – Cape Town (two prizes) <br>
                        25 September: Cape Town – Pretoria (one prize)
                      </p>


                      <input id="date" type="radio" value="date" name="date" onclick="validate()">Yes, these dates suit me

                      <h3><span>2.</span> Confirm that you accept the competition <a href="http://www.aa.co.za/about/terms-conditions/competitions/blue-train-campaign-terms-and-conditions.html">terms &amp; conditions</a> </h3>


                      <input id= "terms" type="radio" value="terms" name="terms" onclick="validate()" disabled >Yes, I have read and accept the terms & conditions
                      <br><br>
                      <input id="submit-competition" type="submit" name="submit" value="Join the AA now!" disabled>

                    </form>
                    <br><br>

                    <!-- End form -->


                    <div class="row">
                      <!-- Blue Train Journey -->
                      <div class="journey text-center">
                        View the Blue Train Journey Itinerary 
                        <br><br>
                        <div class="col-xs-12 col-md-3 "></div>
                        <a href="inc/Pretoria_itenerary.pdf" target="_blank" class="btn-blue col-xs-12 col-md-3 ">Johannesburg (pdf)</a>
                        <a href="inc/Capetown_itenerary.pdf" target="_blank" class="btn-orange col-xs-12 col-md-3">Cape Town (pdf)</a>


                      </div>
                    </div>

                    <!-- Blue Train Journey -->




                    <section class="fine-print">

                      *Membership.<a href="http://www.aa.co.za/about/terms-conditions/competitions/blue-train-campaign-terms-and-conditions.html"> terms & conditions</a> apply

                    </section>


                  </div> <!-- End container -->



                </section><!-- End row -->



              </footer>









            </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

            <script src="js/vendor/bootstrap.min.js"></script>

            <script src="js/main.js"></script>


          </body>
          </html>
