<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>AA InTouch</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  </style>
  <link rel="stylesheet" href="css/main.css">

  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->


            <!-- Header -->
            <header class="text-center container">


              <div class="row">
                <div class="col-md-12 text-center">

                  <h1 class="win-with">WIN A TABLET &amp; DATA <br>
<img src="img/logo.png" alt=""> <span>FOR A YEAR</span>

                  </h1>


                  <p class="sub-heading">Join the AA before 28th February 2016 <br>and stand a chance to win data for a year!</p>


  
 <span class="top-spacer">&nbsp;</span><br>

                  <br>
                  <a href="https://www.aa.co.za/products/aa-membership/apply-now/&pc=JAN2016_ACTIONPAID "><img class="join-now-btn"src="img/join-now.png" alt=""></a>


                </div>

              </div> <!-- End Row -->

            </header>
            <!--  End Header -->


            <!--  Mid Section -->
            <section class="mid container">
              <div class="row">
               <div class="col-md-offset-1 col-md-10">
                <p class="mid-heading text-center"><span>#</span>AAInTouch <span>PRIZES</span></p>


                <div class="col-md-4 text-center">  
                  <img src="img/first-img.png" alt=""> <br> 
                  <h3> 1<sup>st</sup> <br>  </h3> 
                  <span class="spacer">&nbsp;</span><br>
                  <span class="first-block-text">SAMSUNG <br>GALAXY TAB 8.4</span><br> 
                  <span class="plus-sign">+</span><br>  
                  <span  class="first-block-text">5GB OF DATA <br>PER MONTH</span><br>
                  for the duration of 2016
                </div>

                <div class="col-md-4 text-center mid-block">  
                  <img src="img/second-img.png" alt=""> <br>
                  <h3>   2<sup>nd</sup> <br>  </h3> 
                  <span class="spacer">&nbsp;</span> <br>
                  <span  class="second-block-text">5GB PER MONTH </span><br>  
                  for the duration of 2016
                </div>

                <div class="col-md-4  text-center">  
                  <img src="img/last-img.png" alt=""> <br> 
                  <h3>   DAILY PRIZES  <br>  
                    <span>for 8 weeks <br></span>  </h3> 
                    <span  class="last-block-text">5GB PER DAY </span><br>  
                    for the duration of 2016 <br> 
                    (Once-off)
                  </div>

                </div>
              </div><!-- End Row -->



              <div class="row"> 
               <div class="col-md-offset-1 col-md-10 text-center">
                 <br>
                 <a href="" class="cta-mid"> T's &amp; C's Apply</a>
               </div>
             </div>

           </section>

           <!-- End Mid Section -->


           <!--  Pre-Footer Section -->

           <section class="mid container ">
            <div class="row">

<div class="col-md-offset-1 col-md-10 ">
<div class="col-md-4">

                <span class="white-line hidden-sm hidden-xs">&nbsp;</span>

              
            </div>

             <div class="col-md-4">

              <p class="mid-heading text-center"> 
  
                <span>#</span>AAInTouch
 
              </p>
              
            </div>

<div class="col-md-4">

                <span class="white-line  hidden-sm hidden-xs">&nbsp;</span>

              
            </div>

          </div><!-- End Row -->

</div>

          <div class="row">
           <div class="col-md-12">




            <div class="wrapper col-md-offset-1 col-md-10">

              <div class="row">
                <div class="col-md-12 text-center block-header">
                  <strong>AA ADVANTAGE</strong>
                </div>
              </div><!-- End Row -->

              <div class="row block-content">
                <div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-6">
                  <div class="col-md-12 col-xs-12  text-center block-callout-text">
            R79 a month! <br>
             <a href="https://www.aa.co.za/products/aa-membership/apply-now/&pc=JAN2016_ACTIONPAID "><img class="block-join-now-btn"src="img/join-now.png" alt=""></a> <br>

              <p class="block-terms">*Membership Ts &amp; Cs Apply</p>
             </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6 block-conte">
                 <div class="row">
                  <div class="col-md-1 col-xs-1"><img class="tick" src="img/tick.png" alt=""></div> 
                  <div class="col-md-10 col-xs-10"><strong>Unlimited</strong> call-outs</div> 
                 </div>


                 <div class="row">
                  <div class="col-md-1 col-xs-1"><img class="tick" src="img/tick.png" alt=""></div> 
                  <div class="col-md-10 col-xs-10"><strong>50km</strong> FREE per call-out.
                 </div>
               </div>

                <div class="row">
                  <div class="col-md-1 col-xs-1"><img class="tick" src="img/tick.png" alt=""></div> 
                  <div class="col-md-10 col-xs-10">Overnight <strong>accommodation</strong> <br>
                  or car hire and vehicle <br>
                  repatriation.
                 </div>
               </div>

             </div><!-- End Row -->


       </div><!-- End Wrapper -->


     </div>
   </div><!-- End Row -->
 </section>

 <!-- End Pre-Footer Section -->


 <!-- Footer -->
 <footer class="container">

  <div class="row">
    <div class="col-md-12 text-center">

      <a href="https://www.aa.co.za/products/aa-membership/call-me-to-complete-my-membership-application.html" class="call-back-btn">Call me back</a>
    </div>

    <div class="col-md-12">
      <p class="copyright">
        &copy; 2016 The Automobile Association of South Africa. <br>All Rights Reserved

      </p>
    </div>
  </div> <!-- End Row -->
</footer>
<!-- End Footer -->











</div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="js/vendor/bootstrap.min.js"></script>

<script src="js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X','auto');ga('send','pageview');
</script>
</body>
</html>
