<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>AA - Family</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="css/bootstrap.min.css">

  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/main.css">

  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <nav class="container">
              <div class="row"> 
                <div class="col-md-6 col-xs-3 text-left"><img src="img/aa-logo.png" alt=""></div>
                <div class="col-md-6 col-xs-3 text-right"><a href="https://www.aa.co.za/" target="_blank" class="home-link">AA Website <img src="img/home-icon.png" alt=""></a></div>
              </div>
            </nav>

            <header class="container" style="background-image: url('img/header.png');">



             <div class="row text-center">
              <div class="col-md-5 col-md-offset-1 text-center heading-title text-left">
                <h1>ONE LESS <br>THING TO<br> WORRY ABOUT<br> THIS SCHOOL<br> HOLIDAY.</h1>
                <h2>For Peace-of-Mind, <br>Get Breakdown Cover<br> from<span> R105.00 p/m*</span><br></h2>
              </div>




              <div class=" col-md-3">

                <div class="panel panel-default text-center">
                  <div class="panel-heading advantage">
                    <img src="img/aa-action.png" alt=""><br>
                    <span><strong>R105 a month</strong></span><br>
                    R1050 a year<br>

                  </div>
                  <div class="panel-body">
                   <span class="price"><strong>AA Advantage</strong></span><br>
                   <b>Standard Option</b><br>
                   <p>Peace-of-mind cover. Unlimited call-outs per 12 months with a 50kms tow distance. 
Includes  main benefits, Overnight accommodation and car hire.


                  </p>
                </div>
                <div class="panel-footer"><a href="https://www.aa.co.za/products/aa-membership/apply-now/&pc=June2016" onclick="aa_advantage()" target="_blank">JOIN NOW <img src="img/btn-arrow.jpg" alt=""></a></div>
              </div>

            </div>


            <div class=" col-md-3">

              <div class="panel panel-default text-center">
                <div class="panel-heading advantage">
                  <img src="img/aa-advantage.png" alt=""><br>
                  <span><strong>R180 a month</strong></span><br>
                  R1790 a year<br>

                </div>
                <div class="panel-body">
                 <span class="price"><strong>AA Advantage Plus</strong></span> <br>
                 <b>Premium Option</b><br>
                 <p>Premium Membership option.
Includes unlimited call-outs per 12 months, unlimited kms tow distance for breakdowns and accidents,
 Overnight accommodation, car hire and a host of other exclusive benefits. 


                </p>
              </div>
              <div class="panel-footer"><a href="https://www.aa.co.za/products/aa-membership/apply-now/&pc=June2016" onclick="aa_advantage_plus()" target="_blank">JOIN NOW <img src="img/btn-arrow.jpg" alt=""></a></div>
            </div>

          </div>
        </div>

<div class="col-md-12 text-center down-arrow"><img src="img/down-arrow.png" alt=""></div>

      </header>

      <!--  Mid Section -->
      <section class="mid container">
        <div class="row">
         <div class="col-md-offset-1 col-md-10">
          <p class="mid-heading text-center">WHY USE AA?</p>


          <div class="col-md-4 text-center first-block">  
            <img src="img/first-img.png" alt=""> <br> 
            <span class="spacer">&nbsp;</span><br>
            <span class="first-block-text"><strong>Cars do breakdown</strong></span><br> 
            <span  class="first-block-text">Are you covered?
            </div>

            <div class="col-md-4 text-center mid-block">  
              <img src="img/second-img.png" alt=""> <br>
              <span class="spacer">&nbsp;</span> <br>
              <span  class="second-block-text"><strong>Tired of opportunistic tow truck drivers?</strong>  </span><br>  
              We got your back!
            </div>

            <div class="col-md-4  text-center last-block">  
              <img src="img/last-img.png" alt=""> <br> <br> 
              <span><strong>Middle of nowhere?</strong><br></span>  </h3> 
              <span  class="last-block-text">Use our 24 hour call-out service</span>
            </div>

          </div>
        </div><!-- End Row -->

      </section>

      <!-- End Mid Section -->


      <!-- Callout - disabled-->
     <!--  <section class="container callout-section"> 
        <div class="row"> 
          <div class="col-md-12">
            <img class="img-responsive" src="img/callout.png " alt="">
          </div>
        </div>

      </section> -->
      <!-- Callout end -->

      <section class="container table-section">
        <h3 class="text-center"> EVEN MORE REASONS</h3>
        <!-- First Table -->
        <div class="table-wrapper">
          <table cellspacing="10" border="1" class="table">
            <tr>
              <th class="tg-yw4l">Membership<br>Options</th>
              <th class="tg-yw4l">AA Advantage<br>(Standard Option)</th>
              <th class="tg-yw4l">AA Advantage Plus<br>(Premium Option)</th>

            </tr>
            <tr>
              <td class="tg-yw4l">Call-outs per<br>12 months** </td>
              <td class="tg-yw4l">Unlimited</td>
              <td class="tg-yw4l">Unlimited</td>

            </tr>
            <tr>
              <td class="tg-yw4l membership-fee " colspan="5" class="text-center">AA Road Patrol call-outs*</td>

            </tr>
            <tr>
              <td class="tg-yw4l">Jump start<br>your vehicle</td>
              <td class="tg-yw4l">Unlimited</td>
              <td class="tg-yw4l">Unlimited</td>

            </tr>
            <tr>
              <td class="tg-yw4l">Flat tyre<br>change</td>
              <td class="tg-yw4l">Unlimited</td>
              <td class="tg-yw4l">Unlimited</td>

            </tr>
            <tr>
              <td class="tg-yw4l">Unlock your<br>vehicle</td>
              <td class="tg-yw4l">Unlimited</td>
              <td class="tg-yw4l">Unlimited</td>

            </tr>
            <tr>
              <td class="tg-yw4l">Battery Test and<br>mobile battery sales</td>
              <td class="tg-yw4l">Unlimited</td>
              <td class="tg-yw4l">Unlimited</td>
            </tr>
            <tr>
              <td class="tg-yw4l">Fuel to reach<br>a filling station</td>
              <td class="tg-yw4l">Limited</td>
              <td class="tg-yw4l">Limited</td>

            </tr>

            <tr>
              <td class="tg-yw4l membership-fee " colspan="5" class="text-center">Towing call-outs*</td>

            </tr>
            <tr>
              <td class="tg-yw4l">Electrical or<br>mechanical breakdown</td>
              <td class="tg-yw4l">Unlimited</td>
              <td class="tg-yw4l">Unlimited</td>

            </tr>

            <tr>
              <td class="tg-yw4l">Accident/<br> attempted theft</td>
              <td class="tg-yw4l">AA Member<br>discounted rates</td>
              <td class="tg-yw4l">Unlimited</td>


            </tr>


            <tr>
              <td class="tg-yw4l membership-fee " colspan="5" class="text-center">Extended Benefits</td>

            </tr>
            <tr>
              <td class="tg-yw4l">Long distance tow**<br>(over 100kms)</td>
              <td class="tg-yw4l">AA Member<br>discounted rates</td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

            </tr>

            <tr>
              <td class="tg-yw4l">Overnight<br>accommodation**</td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

            </tr>

            <tr>
              <td class="tg-yw4l">Alternative transport<br>&amp; vehicle repatriation*</td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

            </tr>




          </table>
        </div>
        <!-- First Table end-->

        <!-- Second Table -->
        <div class="table-wrapper">
          <table cellspacing="10" border="1" class="table">
            <tr>
              <td class="tg-yw4l membership-fee " colspan="5" class="text-center">Additional Benefits</td>

            </tr>
            <tr>
              <th class="tg-yw4l">AA Mayday Emergency<br>medical rescue</th>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

            </tr>
            <tr>
              <th class="tg-yw4l">Medical emergency <br>advice line</th>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

            </tr>
            <tr>
              <th class="tg-yw4l">Message relay service</th>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

            </tr>

            <tr>
              <th class="tg-yw4l">Technical advice line</th>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

            </tr>
            <tr>
              <th class="tg-yw4l">Motor-related <br>  legal advice line</th>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

            </tr>
            <tr>
              <th class="tg-yw4l">Show Your Card <br> and Save programme</th>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

            </tr>
            <tr>
              <th class="tg-yw4l">Referral to AA Quality <br> Assured Repairers</th>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

            </tr>
            <tr>
              <th class="tg-yw4l">Free AA Member maps</th>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

            </tr>
            <tr>
              <th class="tg-yw4l">Access to AA travel <br> services and products</th>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

            </tr>
            <tr>
              <th class="tg-yw4l">Access to road and <br> toll information</th>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

            </tr>
            <tr>
              <th class="tg-yw4l">Discounts on <br> AA publications</th>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

            </tr>
            <tr>
              <th class="tg-yw4l">Reciprocal services</th>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

            </tr>

            <tr>
              <td class="tg-yw4l membership-fee " colspan="5" class="text-center">Subscription Services</td>

            </tr>
            <tr>
              <th class="tg-yw4l">Subscription to AA <br> traveller quarterly magazine</th>
              <td class="tg-yw4l">AA Member<br>discounted rates</td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

            </tr>

            <tr>
              <th class="tg-yw4l">AA Stand By You</th>
              <td class="tg-yw4l">AA Member<br>discounted rates</td>
              <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

            </tr>


          </table>
        </div>
        <!-- Second Table end-->




        <!-- Last Table -->
        <div class="table-wrapper">
          <table cellspacing="10" border="1" class="table">
            <tr>
              <th class="tg-yw4l">Membership<br>Options</th>
              <th class="tg-yw4l">AA Advantage<br>(Standard Option)</th>
              <th class="tg-yw4l">AA Advantage Plus<br>(Premium Option)</th>

            </tr>
            <tr>
              <td class="tg-yw4l membership-fee " colspan="5" class="text-center">AA Membership Fee (incl. VAT)</td>

            </tr>
            <tr>
              <th class="tg-yw4l">Principal Member</th>
              <td class="tg-yw4l">R105.00 a month<br>R1050.00 a year</td>
              <td class="tg-yw4l">R180.00 a month<br>R1790.00 a year</td>

            </tr>
            <tr>
              <th class="tg-yw4l">Spouse/dependant<br>AA Membership Fee<br>(incl. VAT) 40% discount</th>
              <td class="tg-yw4l">R63.00 a month<br>R630.00 a year</td>
              <td class="tg-yw4l">R108.00 a month<br>R1074.00 a year</td>

            </tr>
            <tr>
              <th class="tg-yw4l"></th>
              <td class="tg-yw4l table-button"><a href="https://www.aa.co.za/products/aa-membership/apply-now/&pc=June2016" onclick="aa_advantage()" target="_blank"><img src="img/join-now.jpg" alt="" ></a></td>
          <td class="tg-yw4l table-button"><a href="https://www.aa.co.za/products/aa-membership/apply-now/&pc=June2016" onclick="aa_advantage_plus()" target="_blank"><img src="img/join-now.jpg" alt="" ></a></td>

            </tr>
          </table>
        </div>

        <div class="row"> 
          <br>  
          <div class="col-md-12 text-center"><a href="https://www.aa.co.za/products/aa-membership/apply-now/&pc=June2016" class="journey-btn" target="_blank">CLICK HERE TO START YOUR JOURNEY WITH THE AA <img src="img/btn-arrow.png" alt=""></a></div>
        </div><br>  

        <div class="row"> 
          <div class="col-md-12 text-center"><a href="https://www.aa.co.za/products/aa-membership/call-me-to-complete-my-membership-application.html" class="call-btn" target="_blank">CALL ME BACK <img src="img/btn-arrow-2.png" alt=""></a></div>
        </div><br>  
        <div class="row"> 
          <div class="col-md-12 text-center terms-conditions"><p><a href="https://www.aa.co.za/about/terms-conditions/">Membership T's &amp; C's Apply</a></p></div>
        </div>
      </section>



      <footer class="container text-center">
        <div class="row">

          <div class="wrapper">
            <div class="copyright col-md-12 text-center">
              <p>
                Copyright &copy; 2016 AA, Web Design by ROI Digital
              </p>
            </div>


          </div>
        </div>
      </footer>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/main.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-9107208-1', 'auto');
  ga('send', 'pageview');

</script>

  </body>
  </html>
