<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>

<div class="container">
  <h1>Responsive Navigation Ideas</h1>
  <!-- Style #1 -->
  <div class="iphone style-1">
    <div class="iphone__item">#1</div>
    <div class="iphone__power-btn"></div>
    <div class="iphone__left-btn"></div>
    <div class="iphone__details"></div>
    <div class="iphone__screen">
      <a href="#" class="nav__trigger"><span class="nav__icon"></span></a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="#">Home</a></li>
          <li class="nav__item"><a class="nav__link" href="#">About Us</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Portfolio</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Blog</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Contact Us</a></li>
        </ul>
      </nav>
      <div class="iphone__content"></div>  
    </div>
    <div class="iphone__home-btn"></div>
  </div>
  <!-- /Style #1 -->

  <!-- Style #2 -->
  <div class="iphone style-2">
    <div class="iphone__item">#2</div>
    <div class="iphone__power-btn"></div>
    <div class="iphone__left-btn"></div>
    <div class="iphone__details"></div>
    <div class="iphone__screen">
      <a href="#" class="nav__trigger"><span class="nav__icon"></span></a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="#">Home</a></li>
          <li class="nav__item"><a class="nav__link" href="#">About Us</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Portfolio</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Blog</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Contact Us</a></li>
        </ul>
      </nav>
      <div class="iphone__content"></div>  
    </div>
    <div class="iphone__home-btn"></div>
  </div>
  <!-- /Style #2 -->

  <!-- Style #23-->
  <div class="iphone style-3">
    <div class="iphone__item">#3</div>
    <div class="iphone__power-btn"></div>
    <div class="iphone__left-btn"></div>
    <div class="iphone__details"></div>
    <div class="iphone__screen">
      <a href="#" class="nav__trigger"><span class="nav__icon"></span></a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="#">Home</a></li>
          <li class="nav__item"><a class="nav__link" href="#">About Us</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Portfolio</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Blog</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Contact Us</a></li>
        </ul>
      </nav>
      <div class="iphone__content"></div>  
    </div>
    <div class="iphone__home-btn"></div>
  </div>
  <!-- /Style #3 -->

  <!-- Style #4-->
  <div class="iphone style-4">
    <div class="iphone__item">#4</div>
    <div class="iphone__power-btn"></div>
    <div class="iphone__left-btn"></div>
    <div class="iphone__details"></div>
    <div class="iphone__screen">
      <a href="#" class="nav__trigger"><span class="nav__icon"></span></a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="#">Home</a></li>
          <li class="nav__item"><a class="nav__link" href="#">About Us</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Portfolio</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Blog</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Contact Us</a></li>
        </ul>
      </nav>
      <div class="iphone__content"></div>  
    </div>
    <div class="iphone__home-btn"></div>
  </div>
  <!-- /Style #4 -->

  <!-- Style #5-->
  <div class="iphone style-5">
    <div class="iphone__item">#5</div>
    <div class="iphone__power-btn"></div>
    <div class="iphone__left-btn"></div>
    <div class="iphone__details"></div>
    <div class="iphone__screen">
      <a href="#" class="nav__trigger"><span class="nav__icon"></span></a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="#">Home</a></li>
          <li class="nav__item"><a class="nav__link" href="#">About Us</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Portfolio</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Blog</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Contact Us</a></li>
        </ul>
      </nav>
      <div class="iphone__content"></div>  
    </div>
    <div class="iphone__home-btn"></div>
  </div>
  <!-- /Style #5 -->

  <!-- Style #6-->
  <div class="iphone style-6">
    <div class="iphone__item">#6</div>
    <div class="iphone__power-btn"></div>
    <div class="iphone__left-btn"></div>
    <div class="iphone__details"></div>
    <div class="iphone__screen">
      <a href="#" class="nav__trigger"><span class="nav__icon"></span></a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="#">Home</a></li>
          <li class="nav__item"><a class="nav__link" href="#">About Us</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Portfolio</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Blog</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Contact Us</a></li>
        </ul>
      </nav>
      <div class="iphone__content"></div>  
    </div>
    <div class="iphone__home-btn"></div>
  </div>
  <!-- /Style #6 -->

</div>










<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>