<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>AA - Intouch</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  </style>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/main.css">

  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <header class="container" style="background-image: url('img/header.png');">
             <div class="row text-center">
              <div class="col-md-12 text-center heading-title">
                <h1><img src="img/aa-logo.png" alt=""><br>WIN A TABLET &amp; DATA <br> FOR A YEAR</h1>
                <h2>Join the AA before 30 June 2016 <br>and stand a chance to win data for a year!<br>

                </h2>
              </div>
            </div>


            <div class="row">
              <div class=" col-md-offset-3 col-md-3">

                <div class="panel panel-default text-center">
                  <div class="panel-heading advantage">
                    <img src="img/aa-advantage.png" alt=""><br>
                    <span><strong>AA ADVANTAGE</strong></span><br>
                    Standard Option<br>

                  </div>
                  <div class="panel-body">
                   <span class="price">R99 a month</span><br>
                   <p>Peace-of-mind cover.<br>Unlimited call-outs per 12<br> months with a 50kms tow<br>
                     distance.<br> Includes main benefits,<br>
                     Overnight accomodation<br> and care hire.


                   </p>
                 </div>
                 <div class="panel-footer"><a href="https://www.aa.co.za/products/aa-membership/apply-now/&pc=AAINTOUCH" onclick="aa_advantage();" target="_blank">JOIN NOW <img src="img/btn-arrow.jpg" alt=""></a></div>
               </div>

             </div>


             <div class="col-md-3">

              <div class="panel panel-default text-center">
                <div class="panel-heading text-center">
                  <img src="img/aa-advantage-plus.png" alt=""><br>
                  <span><strong>AA ADVANTAGE</strong> PLUS</span> <br>
                  Premium Option<br>

                </div>
                <div class="panel-body">
                 <span class="price">R169 a month</span><br>
                 <p>Premium Membership option. <br>
                  Includes unlimited call-outs per 12 months, unlimited kms tow distance for breakdowns and accidents
                  Overnight accommodation, car hire and a host of other exclusive benefits. 

                </p>
              </div>
              <div class="panel-footer"><a href="https://www.aa.co.za/products/aa-membership/apply-now/&pc=AAINTOUCH" onclick="aa_advantage_plus()" target="_blank">JOIN NOW <img src="img/btn-arrow.jpg" alt=""></a></div>
            </div>

          </div>
        </div>



      </header>

 <!--  Mid Section -->
            <section class="mid container">
              <div class="row">
               <div class="col-md-offset-1 col-md-10">
                <p class="mid-heading text-center"><span>#</span>AAInTouch <span>PRIZES</span></p>


                <div class="col-md-4 text-center first-block">  
                  <img src="img/first-img.png" alt=""> <br> 
                  <h3> 1<sup>ST</sup> <br>  </h3> 
                  <span class="spacer">&nbsp;</span><br>
                  <span class="first-block-text">SAMSUNG <br>GALAXY TAB 8.4</span><br> 
                  <span class="plus-sign">+</span><br>  
                  <span  class="first-block-text">5GB OF DATA <br>PER MONTH</span><br>
                  for 12 months
                </div>

                <div class="col-md-4 text-center mid-block">  
                  <img src="img/second-img.png" alt=""> <br>
                  <h3>   2<sup>ND</sup> <br>  </h3> 
                  <span class="spacer">&nbsp;</span> <br>
                  <span  class="second-block-text">5GB PER MONTH </span><br>  
                  for the duration of 2016
                </div>

                <div class="col-md-4  text-center last-block">  
                  <img src="img/last-img.png" alt=""> <br> 
                  <h3>   DAILY PRIZES  <br>  
                    <span>for 8 weeks <br></span>  </h3> 
                    <span  class="last-block-text">5GB PER DAY </span><br>  
                    (Once-off)
                  </div>

                </div>
              </div><!-- End Row -->

            </section>

            <!-- End Mid Section -->



      <section class="container">

       <!-- First Table -->
       <div class="table-wrapper">
        <table cellspacing="10" border="1" class="table">
          <tr>
            <th class="tg-yw4l">Membership<br>Options</th>
            <th class="tg-yw4l">AA Advantage<br>(Standard Option)</th>
            <th class="tg-yw4l">AA Advantage Plus<br>(Standard Option)</th>

          </tr>
          <tr>
            <th class="tg-yw4l">Call-outs per<br>12 months** </th>
            <td class="tg-yw4l">Unlimited</td>
            <td class="tg-yw4l">Unlimited</td>

          </tr>
          <tr>
            <td class="tg-yw4l membership-fee " colspan="5" class="text-center">AA Road Patrol call-outs**</td>

          </tr>
          <tr>
            <th class="tg-yw4l">Jump start<br>your vehicle</th>
            <td class="tg-yw4l">Unlimited</td>
            <td class="tg-yw4l">Unlimited</td>
            
          </tr>
          <tr>
            <th class="tg-yw4l">Flat tyre<br>change</th>
            <td class="tg-yw4l">Unlimited</td>
            <td class="tg-yw4l">Unlimited</td>

          </tr>
          <tr>
            <th class="tg-yw4l">Unlock your<br>vehicle</th>
            <td class="tg-yw4l">Unlimited</td>
            <td class="tg-yw4l">Unlimited</td>
            
          </tr>
          <tr>
            <th class="tg-yw4l">Battery Test and<br>mobile battery sales</th>
            <td class="tg-yw4l">Unlimited</td>
            <td class="tg-yw4l">Unlimited</td>
            <
          </tr>
          <tr>
            <th class="tg-yw4l">Fuel to reach<br>a filling station</th>
            <td class="tg-yw4l">Limited</td>
            <td class="tg-yw4l">Limited</td>

          </tr>

          <tr>
            <td class="tg-yw4l membership-fee " colspan="5" class="text-center">Towing call-outs**</td>

          </tr>
          <tr>
            <th class="tg-yw4l">Tow: electrical or<br>mechanical breakdown</th>
            <td class="tg-yw4l">Unlimited</td>
            <td class="tg-yw4l">Unlimited</td>

          </tr>

          <tr>
            <th class="tg-yw4l">Tow: electrical<br>or attempted theft**</th>
            <td class="tg-yw4l">AA Member<br>discounted rates</td>
            <td class="tg-yw4l">Unlimited</td>

          </tr>


          <tr>
            <td class="tg-yw4l membership-fee " colspan="5" class="text-center">Extended Benefits</td>

          </tr>
          <tr>
            <th class="tg-yw4l">Long distance tow<br>(over 100kms)</th>
            <td class="tg-yw4l">AA Member<br>discounted rates</td>
            <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

          </tr>

          <tr>
            <th class="tg-yw4l">Overnight<br>accomodation*</th>
            <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
            <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

          </tr>

          <tr>
            <th class="tg-yw4l">Alternative transport<br>&amp; vehicle repatriation*</th>
            <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
            <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>

          </tr>


        </table>
      </div>
      <!-- First Table end-->

   


    <!-- Last Table -->
    <div class="table-wrapper">
      <table cellspacing="10" border="1" class="table">
        <tr>
          <th class="tg-yw4l">Membership<br>Options</th>
          <th class="tg-yw4l">AA Advantage<br>(Standard Option)</th>
          <th class="tg-yw4l">AA Advantage Plus<br>(Premium Option)</th>

        </tr>
        <tr>
          <td class="tg-yw4l membership-fee " colspan="5" class="text-center">AA Road Patrol call-outs**</td>

        </tr>
        <tr>
          <th class="tg-yw4l">AA Membership Fee (incl. VAT)</th>
          <td class="tg-yw4l">R99.00 a month<br><!-- R790.00 a year --></td>
          <td class="tg-yw4l">R169.00 a month<br><!-- R990.00 a year --></td>

        </tr>
        <tr>
          <th class="tg-yw4l">Spouse/dependant<br>AA Membership Fee<br>(incl. VAT) 40% discount</th>
          <td class="tg-yw4l">R59.00 a month<br><!-- R590.00 a year --></td>
          <td class="tg-yw4l">R101.00 a month<br><!-- R1010.00 a year --></td>
          
        </tr>
        <tr>
          <th class="tg-yw4l"></th>
          <td class="tg-yw4l table-button"><a href="https://www.aa.co.za/products/aa-membership/apply-now/&pc=AAINTOUCH" onclick="aa_advantage()" target="_blank"><img src="img/join-now.jpg" alt="" ></a></td>
          <td class="tg-yw4l table-button"><a href="https://www.aa.co.za/products/aa-membership/apply-now/&pc=AAINTOUCH" onclick="aa_advantage_plus()" target="_blank"><img src="img/join-now.jpg" alt="" ></a></td>
          
        </tr>
      </table>
    </div>

    <p>* Fair-use policy</p>
    <p><a href="https://www.aa.co.za/about/terms-conditions/competitions/easter-campaign-2016-terms-and-conditions.html">** AA Membership Terms and Conditions Apply</a></p>
  </section>



  <footer class="container text-center">
    <div class="row">

      <div class="wrapper">
        <div class="copyright col-md-5 text-left">
          <p>
            &copy; 2016 The Automobile Association of South Africa.<br>
            All Rights Reserved
          </p>
        </div>

        <div class="call-back col-md-3 col-sm-12 col-xs-12">

         <a href="https://www.aa.co.za/products/aa-membership/call-me-to-complete-my-membership-application.html">Call me back</a>
       </div>   

       <div class="logo col-md-4 col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 " style="margin:0px;">


       </div>
     </div>
   </div>
 </footer>
</div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="js/vendor/bootstrap.min.js"></script>

<script src="js/main.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-9107208-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
