<html>
<head>
	<title>Demo template - Steven Jackson</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body bgcolor="#fff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

	<table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="font-family: 'Open Sans', sans-serif;  ">
		<!-- header -->

		<tr>
			<td bgcolor="#d0d0d0">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="font-family: 'Open Sans', sans-serif; background: #fff;" >
					<tr style="background: #fff; font-family: 'Open Sans', sans-serif; ">
						<td height="16"></td>
					</tr>
					<tr style="background: #fff; font-family: 'Open Sans', sans-serif; ">
						<td height="56" align="center"><span style="color:#4da83e; font-size:20px;">Lorem ipsum dolor sit amet, consectetur</span><br><br></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td bgcolor="#d0d0d0">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="font-family: 'Open Sans', sans-serif; background: #fff;" >
					<tr style="background: #fff; font-family: 'Open Sans', sans-serif; ">
					<td width="35"></td>
						<td><img src="images/header.png" width="600" height="405" alt=""></td>
					</tr>
				</table>
			</td>
		</tr>
		<!-- Content -->

		<tr>
			<td bgcolor="#d0d0d0">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="font-family: 'Open Sans', sans-serif; background: #fff; padding: 0.1in 0in 0pt 0in;">
					<tr>
						<td width="35"></td>
						<td style="font-size: 14px; text-align:left;"><br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>
						</td>
						<td width="35"></td>
					</tr>
				</table>
			</td>
		</tr>

		<tr>
			<td bgcolor="#d0d0d0">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="padding-top: 0px; font-family: 'Open Sans', sans-serif;">
					<tr>
						<td bgcolor="#000" color="#fff"style="background-color: #000;text-align:center; color: #fff; padding: 10px 0px; line-height:1.4; "><strong>Lorem ipsum dolor:</strong> <br>	
							Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						</td>
					</tr>
				</table>
			</td>
		</tr>

		<tr>
			<td bgcolor="#d0d0d0">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="font-family: 'Open Sans', sans-serif; background: #fff; padding: 0.1in 0in 0pt 0in;">
					<tr>
						<td width="35"></td>
						<td style="font-size: 14px; text-align:left;"><br>
							<span style="color:#3cb446; font-weight:bold;">Lorem ipsum dolor</span><br><br>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br><br></td>
								<td width="35"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td bgcolor="#d0d0d0">
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="padding-top: 0px; font-family: 'Open Sans', sans-serif;">
							<tr>
								<td><a href="" target="_blank"><img src="images/cta.png" width="600" height="33" border="0"></a></td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td bgcolor="#d0d0d0">
						<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="font-family: 'Open Sans', sans-serif; background: #fff; padding: 0.1in 0in 0pt 0in;">
							<tr>
								<td width="35"></td>
								<td style="font-size: 14px; text-align:left;"><br>
									<span style="color:#3cb446; font-weight:bold;">Lorem ipsum dolor</span><br><br>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br><br></td>
									<td width="35"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#d0d0d0">
							<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="padding-top: 0px; font-family: 'Open Sans', sans-serif;">
								<tr>
									<td><a href="" target="_blank"><img src="images/cta.png" width="600" height="33" border="0"></a></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#d0d0d0">
							<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="font-family: 'Open Sans', sans-serif; background: #fff; padding: 0.1in 0in 0pt 0in;">
								<tr>
									<td width="35"></td>
									<td style="font-size: 14px; text-align:left;"><br>
										<span style="color:#3cb446; font-weight:bold;">Lorem ipsum dolor</span><br><br>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br><br></td>
										<td width="35"></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td bgcolor="#d0d0d0">
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="padding-top: 0px; font-family: 'Open Sans', sans-serif;">
									<tr>
										<td><a href="" target="_blank"><img src="images/cta.png" width="600" height="33" border="0"></a></td>
									</tr>
								</table>
							</td>
						</tr>


</tr>
					<tr>
						<td bgcolor="#d0d0d0">
							<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="font-family: 'Open Sans', sans-serif; background: #fff; padding: 0.1in 0in 0pt 0in;">
								<tr>
									<td width="35"></td>
									<td style="font-size: 14px; text-align:left;"><br>
										<span style="color:#3cb446; font-weight:bold;">Lorem ipsum dolor</span><br><br>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br><br></td>
										<td width="35"></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td bgcolor="#d0d0d0">
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="padding-top: 0px; font-family: 'Open Sans', sans-serif;">
									<tr>
										<td><a href="mailto:training@quickbooks.co.za?subject=I would like to attend QuickBooks Advanced on (FILL IN DATE) in (FILL IN LOCATION)" target="_blank"><img src="images/cta.png" width="600" height="33" border="0"></a></td>
									</tr>
								</table>
							</td>
						</tr>

							
							
									<tr>
										<td bgcolor="#d0d0d0">
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="font-family: 'Open Sans', sans-serif; background: #fff; padding: 0in 0in 0pt 0in;">
												<tr>
													<td width="35"></td>
													<td style="font-size: 14px; text-align:left;"><br>

														<span style="font-weight:bold;">Please note:</span>
														As an ICBA (Institute of Certified Bookkeepers and Accountants) member, you'll earn CPD Points for every course attended. 1 hour of training equals 1 CPD point.<br></td>
														<td width="35"></td>
													</tr>
												</table>
											</td>
										</tr>
										
									

										<tr>
											<td bgcolor="#d0d0d0">
												<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="padding-top: 0px; background: #fff; font-family: 'Open Sans', sans-serif;">
													<tr>
														<td width="15" bgcolor="#ffffff"></td>
														<td bgcolor="#fff" style="text-align: center;"><a href="" style="background:#fff; border:none;"><img src="images/facebook.png" width="30" height="32" border="0" alt="Facebook"></a>
															<a href="" style="background:#fff; border:none; margin:0px;"><img src="images/twitter.png" width="30" height="30" border="0" alt="Twitter"></a>
															<a href="" style="background:#fff; border:none; margin:0px;"><img src="images/linked.png" width="30" height="30" border="0" alt="Linkdin"></a>
															<a href="" style="background:#fff; border:none; margin:0px;"><img src="images/youtube.png" width="30" height="30" border="0" alt="Youtube"></a>
														</td>
														<td width="15" bgcolor="#ffffff"></td>
													</tr>
												</table>
											</td>
										</tr>

										<!-- footer -->
										<tr>
											<td bgcolor="#d0d0d0">
												<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="font-family: 'Open Sans', sans-serif;">
													<tr>
														<td align="center" bgcolor="#ffffff"><img src="images/footer.png" width="320" height="122" alt=""></td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</body>
								</html>