<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">

	<title>Quick Accounting Software</title>

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="css/style.css" rel="stylesheet">
	<link href="css/lightbox.css" rel="stylesheet">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<script type="text/javascript">	var _gaq = _gaq || []; 	_gaq.push(['_setAccount', 'UA-2089548-1']); _gaq.push(['_addDevId', 'i9k95']); // Google Analyticator App ID with Google	
_gaq.push(['_trackPageview']);	(function() {	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);	})();
</script>
</head>

<body>
	<header>
		<div class="container">
			<div class="row">
				<img src="images/qb-logo.png" alt="QuickBooks">
			</div>
		</div>
	</header>


	<!-- Banner section -->

	<section class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-8 banner-text">
					<h2>QuickBooks Accounting Software</h2>
					<p>QuickBooks’ accounting packages help businesses save time<br> and manage their finances more effectively than ever. <br>
						Systematic and streamlined, they reduce paperwork, simplify<br> processes and minimise errors.</p>

							<p><br>
					Please note: We close on the 18th December for the Festive break and <br>reopen on Monday, the 4th January 2016.
Where possible, please inform <br>us of any support issues before we close.</p>
					</div>
					<div class="col-md-4">
					<div class="form-wrapper">
						<h2>Thank you.</h2>
						<p>We have recieved your message and we will get back to you as soon as we can.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="clear"></div>
	<section class="content">
			<div class="container">

								
					<table class="table table-bordered">
<thead class="table-head">
						<tr class="pack_images">
							<th class="tt-main"><h3>Which QuickBooks product is right for you?</h3></th>
							<th><img src="images/pro-no15.png" alt="">QuickBooks<br> Pro</th>
							<th><img src="images/premier-no15.png" alt="">QuickBooks<br> Premier</th>
							<th><img src="images/accountant-no15.png" alt="">QuickBooks<br> Accountant</th>
						</tr>
					</thead>
						<tbody>
							<tr>
								<td class="tt">Get started quickly with guided set up, easy to learn and use</td>
								<td><img src="images/tick.png" alt=""></td>
								<td><img src="images/tick.png" alt=""></td>
								<td><img src="images/tick.png" alt=""></td>
							</tr>
							<tr  class="green-bg">
								<td class="tt">Track Sales, expenses & profits</td>
								<td><img src="images/tick.png" alt=""></td>
								<td><img src="images/tick.png" alt=""></td>
								<td><img src="images/tick.png" alt=""></td>
							</tr>
							<tr>
								<td class="tt">Customise your financial , sales &amp; tax reports, including profit &amp; loss and balance sheets</td>
								<td>100+ basic reports</td>
								<td>135+ basic reports</td>
								<td>135+ basic reports</td>
							</tr>
							<tr  class="green-bg">
								<td class="tt">Multi-User access¹.</td>
								<td>Up to 5 users</td>
								<td>Up to 5 users</td>
								<td>Up to 30 users</td>
							</tr>
							<tr>
								<td class="tt">Bill Tracker (new) - Simplify Supplier expense tracking by visualising flow of Supplier-
									related transactions. <sup>3</sup></td>
									<td><img src="images/tick.png" alt=""></td>
									<td><img src="images/tick.png" alt=""></td>
									<td><img src="images/tick.png" alt=""></td>
								</tr>

								<tr class="green-bg">
									<td class="tt">Manage Inventory. Receive and sell stock.</td>
									<td><img src="images/tick.png" alt=""></td>
									<td><img src="images/tick.png" alt=""></td>
									<td><img src="images/tick.png" alt=""></td>
								</tr>
								<tr>
									<td class="tt">Trade in Multi Currencies</td>
									<td><img src="images/tick.png" alt=""></td>
									<td><img src="images/tick.png" alt=""></td>
									<td><img src="images/tick.png" alt=""></td>
								</tr>
								<tr class="green-bg">
									<td class="tt">Create Building Assemblies (BOM) and setup multiple units of measure (receive goods by box; sell goods by each)</td>
									<td></td>
									<td><img src="images/tick.png" alt=""></td>
									<td><img src="images/tick.png" alt=""></td>
								</tr>
								<tr>
									<td class="tt">Create Sales Orders</td>
									<td></td>
									<td><img src="images/tick.png" alt=""></td>
									<td><img src="images/tick.png" alt=""></td>
								</tr>
								<tr class="green-bg">
									<td class="tt">Secondary Company. Open two companies at the same time</td>
									<td></td>
									<td></td>
									<td><img src="images/tick.png" alt=""></td>
								</tr>
								<tr>
									<td class="tt">QuickBooks Statement Writer²</td>
									<td></td>
									<td></td>
									<td><img src="images/tick.png" alt=""></td>
								</tr>
								<tr class="green-bg">
									<td class="tt">Document Centre. Copy scan or drag documents into the Doc Centre.</td>
									<td><img src="images/tick.png" alt=""></td>
									<td><img src="images/tick.png" alt=""></td>
									<td><img src="images/tick.png" alt=""></td>
								</tr>
								<tr>
									<td class="tt">Insights on Home Page.  Track your business health.</td>
									<td><img src="images/tick.png" alt=""></td>
									<td><img src="images/tick.png" alt=""></td>
									<td><img src="images/tick.png" alt=""></td>
								</tr>
								<tr class="green-bg">
									<td class="tt">Insert Report comments.</td>
									<td><img src="images/tick.png" alt=""></td>
									<td><img src="images/tick.png" alt=""></td>
									<td><img src="images/tick.png" alt=""></td>
								</tr>
							</tbody>
						</table>
						<div class="fine-text">
							<p><sup>1</sup>Requires the purchase of additional licenses.</p>
							<p><sup>2</sup>Statement Writer compatible with 2007, 2010 & 2013 (Click to run not supported), Office 365  desktop version.</p>
							<p><sup>3</sup>Not available when Multi-currency is enabled.</p>
						</div>
					</div>
				</section>

				<section class="choose">
					<div class="container">
						<h3>Why choose QuickBooks</h3>
						<p>YOU CAN TAKE CONTROL OF YOUR COMPANY’S FINANCE’S - FAST. Keeping your company’s books up to date is a complex and time-consuming business function. That is why the developers of QuickBooks conduct focus groups with their users every year in order to improve their QuickBooks experience. By listening to the customer’s needs and desires this year, the developers of QuickBooks decided to focus on the products performance and quality to make sure that the users accounting and bookkeeping experience is not only faster, but more rewarding.</p>
						<div class="row lightbox" id="lb">
							<div class="col-md-4">
								<a class="lightbox" href="#1">
									<img src="images/thumbs/1.jpg"/>
								</a>
							</div>
							<div class="col-md-4">
								<a class="lightbox" href="#2">
									<img src="images/thumbs/2.jpg"/>
								</a> 
							</div>
							<div class="col-md-4">
								<a class="lightbox" href="#3">
									<img src="images/thumbs/3.jpg"/>
								</a>
							</div>
						</div>
					</div>
				</section>

				<!-- Lightox Images full -->
				<div class="lightbox-target" id="1">
					<img src="images/full/1.png"/>
					<a class="lightbox-close" href="#lb"></a>
				</div>
				<div class="lightbox-target" id="2">
					<img src="images/full/2.png"/>
					<a class="lightbox-close" href="#lb"></a>
				</div>
				<div class="lightbox-target" id="3">
					<img src="images/full/3.png"/>
					<a class="lightbox-close" href="#lb"></a>
				</div>

					
			
				<!-- Pre-footer -->
				<section class="pre-footer">	
					<div class="container">
						<div class="row">

						<div class="col-md-8"><h2 class="cta-footer">Find out more about our accounting software </h2> </div>
						<div class="col-md-4"><a href="">Enquire now</a></div>
						

						</div>
					</div>

				</section>
				<!-- End Pre-footer -->

				<!-- Footer -->
				<footer>
					<div class="container">
						<div class="row">
							<p>Copyright 2015 QuickBooks.co.za - All Rights Reserved. Distributed and supported by EasyBiz</p>
						</div>
					</div>
				</footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>
