       
 <div id="demo-bar"></div>
  <div class="container">


    <div class="menu in">
      <div class="top-menu">
        
        <ul>
          <li>Personal Code Depo by Steven Jackson</li>
          
        </ul>
         
      </div>

      <div class="bottom-preview">
        
      </div>
    </div>
      </div>


<div class="home-content">
    <h1>Welcome to Code drop</h1>
    <hr>

      <div class="col-md-12">
        My personal Code Depository
      </div>

</div> <!-- End Container -->