<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Easter with the AA</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  </style>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/main.css">

  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <header class="container" style="background-image: url('img/header.jpg');">

              <div class="row text-center">
                <div class="col-md-12 text-center heading-title">
                  <h1><img src="img/aa-logo.png" alt=""><br>GET REAL ROADSIDE ASSISTANCE</h1>
                  <h2><span>Plus</span> stand a chance to <span>WIN</span> one of 8 holidays to the<br>
                    <span>value of R10 000</span>.
                  </h2>
                </div>
              </div>

              <div class="row">
                <div class="col-md-offset-3 col-md-3">

                  <div class="panel panel-default text-center">
                    <div class="panel-heading">
                      <img src="img/aa-action.png" alt=""><br>
                      <span>AA ACTION</span><br>
                      Essential Option<br>

                    </div>
                    <div class="panel-body">
                     <span class="price">R79 a month</span><br>
                     <span class="sub-price"> R790 a year</span><br>
                     <p>For members that travel less<br>frequently but still require<br>cover for emergencies.<br>
                      2 call-outs per 12 months.<br>
                      Includes all our main benefits.
<br><br>

                    </p>
                  </div>
                  <div class="panel-footer"><a href="https://www.aa.co.za/products/aa-membership/apply-now/&pc=EASTERCAMPAIGN2016" target="_blank" onclick="aa_action();">JOIN NOW <img src="img/btn-arrow.jpg" alt=""></a></div>
                </div>

              </div>
              <div class="col-md-3">

                <div class="panel panel-default text-center">
                  <div class="panel-heading">
                    <img src="img/aa-advantage.png" alt=""><br>
                    <span>AA ADVANTAGE</span><br>
                    Standard Option<br>

                  </div>
                  <div class="panel-body">
                   <span class="price">R99 a month</span><br>
                   <span class="sub-price"> R990 a year</span><br>
                   <p>Peace-of-mind cover.<br>Unlimited call-outs per 12<br> months with a 50kms tow<br>
                     distance.<br> Includes main benefits,<br>
                     Overnight accomodation<br> and care hire.


                   </p>
                 </div>
                 <div class="panel-footer"><a href="https://www.aa.co.za/products/aa-membership/apply-now/&pc=EASTERCAMPAIGN2016" onclick="aa_advantage();" target="_blank">JOIN NOW <img src="img/btn-arrow.jpg" alt=""></a></div>
               </div>

             </div>




       <div class="row text-center col-md-12"><img src="img/arrow.jpg" alt=""></div>
     </header>

     <section class="container">

       <!-- First Table -->
       <div class="table-wrapper">
        <table cellspacing="10" border="1" class="table">
          <tr>
            <th class="tg-yw4l">Membership<br>Options</th>
            <th class="tg-yw4l">AA Action<br>(Essential Option)</th>
            <th class="tg-yw4l">AA Advantage<br>(Standard Option)</th>
           
          </tr>
          <tr>
            <th class="tg-yw4l">Call-outs per<br>12 months** </th>
            <td class="tg-yw4l">2</td>
            <td class="tg-yw4l">Unlimited</td>
           
          </tr>
          <tr>
            <td class="tg-yw4l membership-fee " colspan="5" class="text-center">AA Road Patrol call-outs**</td>

          </tr>
          <tr>
            <th class="tg-yw4l">Jump start<br>your vehicle</th>
            <td class="tg-yw4l">From call-out entitlements</td>
            <td class="tg-yw4l">Unlimited</td>
            
          </tr>
          <tr>
            <th class="tg-yw4l">Flat tyre<br>change</th>
            <td class="tg-yw4l">From call-out entitlements</td>
            <td class="tg-yw4l">Unlimited</td>
           
          </tr>
          <tr>
            <th class="tg-yw4l">Unlock your<br>vehicle</th>
            <td class="tg-yw4l">From call-out entitlements</td>
            <td class="tg-yw4l">Unlimited</td>
            
          </tr>
          <tr>
            <th class="tg-yw4l">Battery Test and<br>mobile battery sales</th>
            <td class="tg-yw4l">From call-out entitlements</td>
            <td class="tg-yw4l">Unlimited</td>
            <
          </tr>
          <tr>
            <th class="tg-yw4l">Fuel to reach<br>a filling station</th>
            <td class="tg-yw4l">From call-out entitlements</td>
            <td class="tg-yw4l">Limited</td>
           
          </tr>

          <tr>
            <td class="tg-yw4l membership-fee " colspan="5" class="text-center">Towing call-outs*</td>

          </tr>
          <tr>
            <th class="tg-yw4l">Electrical or<br>mechanical breakdown</th>
            <td class="tg-yw4l">From call-out entitlements</td>
            <td class="tg-yw4l">Unlimited</td>
           
          </tr>

          <tr>
            <th class="tg-yw4l">Accident/<br>attempted theft</th>
            <td class="tg-yw4l">From call-out entitlements</td>
            <td class="tg-yw4l">AA Member<br>discounted rates</td>
           
          </tr>


          <tr>
            <td class="tg-yw4l membership-fee " colspan="5" class="text-center">Extended Benefits</td>

          </tr>
          <tr>
            <th class="tg-yw4l">Long distance tow**<br>(over 100kms)</th>
            <td class="tg-yw4l">AA Member<br>discounted rates</td>
            <td class="tg-yw4l">AA Member<br>discounted rates</td>
           
          </tr>

          <tr>
            <th class="tg-yw4l">Overnight<br>accomodation**</th>
            <td class="tg-yw4l">AA Member<br>discounted rates</td>
            <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
           
          </tr>

          <tr>
            <th class="tg-yw4l">Alternative transport<br>&amp;vehicle repatriation**</th>
            <td class="tg-yw4l">AA Member<br>discounted rates</td>
            <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
           
          </tr>


        </table>
      </div>
      <!-- First Table end-->

      <!-- Second Table -->
      <div class="table-wrapper">
        <table cellspacing="10" border="1" class="table">

          <tr>
            <td class="tg-yw4l membership-fee " colspan="5" class="text-center">Additional Benefits</td>

          </tr>
          <tr>
            <th class="tg-yw4l">AA Mayday emergency<br>medical rescue</th>
            <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
            <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
            
          </tr>
          <tr>
            <th class="tg-yw4l">Medical emergency<br>advice line</th>
            <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
            <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
            
          </tr>
          <tr>
            <th class="tg-yw4l">Message relay<br>service</th>
            <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
            <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
           
          </tr>
          <tr>
            <th class="tg-yw4l">Technical adivce<br>line</th>
            <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
            <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
          
          </tr>
          <tr>
            <th class="tg-yw4l">Show Your Card<br>and Save programme</th>
            <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
            <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
           
          </tr>

          <th class="tg-yw4l">Referral to AA Quality<br>Assured Repairers</th>
          <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
          <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
          
        </tr>

        <tr>
        <th class="tg-yw4l">Free AA<br>Member maps</th>
          <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
          <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
          
        </tr>



        <tr>
          <th class="tg-yw4l">Access to AA travel<br>services and products</th>
          <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
          <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
         
        </tr>

     <tr>
          <th class="tg-yw4l">Access to road and<br>toll information</th>
          <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
          <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
         
        </tr>

     <tr>
          <th class="tg-yw4l">Reciprocal services</th>
          <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
          <td class="tg-yw4l"><img src="img/tick.png" alt=""></td>
          
        </tr>

     


        <tr>

          <td class="tg-yw4l membership-fee " colspan="5" class="text-center">Subscription Services</td>

        </tr>
        <tr>
          <th class="tg-yw4l">Subscription to AA<br>traveller quarterly<br>magazine</th>
          <td class="tg-yw4l">AA Member<br>discounted rates</td>
          <td class="tg-yw4l">AA Member<br>discounted rates</td>
      
        </tr>

        <tr>
          <th class="tg-yw4l">AA Stand By You</th>
          <td class="tg-yw4l">AA Member<br>discounted rates</td>
          <td class="tg-yw4l">AA Member<br>discounted rates</td>
          
        </tr>


      </table>
    </div>
    <!-- SEcond Table end -->


    <!-- Last Table -->
    <div class="table-wrapper">
      <table cellspacing="10" border="1" class="table">
        <tr>
          <th class="tg-yw4l">Membership<br>Options</th>
          <th class="tg-yw4l">AA Action<br>(Essential Option)</th>
          <th class="tg-yw4l">AA Advantage<br>(Standard Option)</th>
         
        </tr>
        <tr>
          <td class="tg-yw4l membership-fee " colspan="5" class="text-center">AA Membership Free (incl. VAT)</td>

        </tr>
        <tr>
          <th class="tg-yw4l">Principal member</th>
          <td class="tg-yw4l">R79.00 a month<br>R790.00 a year</td>
          <td class="tg-yw4l">R99.00 a month<br>R990.00 a year</td>
         
        </tr>
        <tr>
          <th class="tg-yw4l">Spouse/dependant<br>AA Membership Fee<br>(incl. VAT) 40% discount</th>
          <td class="tg-yw4l">R47.00 a month<br>R470.00 a year</td>
          <td class="tg-yw4l">R59.00 a month<br>R590.00 a year</td>
          
        </tr>
        <tr>
          <th class="tg-yw4l"></th>
          <td class="tg-yw4l table-button"><a href="https://www.aa.co.za/products/aa-membership/apply-now/&pc=EASTERCAMPAIGN2016" onclick="aa_action();" target="_blank"><img src="img/join-now.jpg" alt="" ></a></td>
          <td class="tg-yw4l table-button"><a href="https://www.aa.co.za/products/aa-membership/apply-now/&pc=EASTERCAMPAIGN2016" onclick="aa_advantage();" target="_blank"><img src="img/join-now.jpg" alt="" ></a></td>
          
        </tr>
      </table>
    </div>

        <p>* Fair-use policy</p>
     <p><a href="https://www.aa.co.za/about/terms-conditions/competitions/valentines-terms-and-conditions.html">** AA Membership Terms and Conditions Apply</a></p>
   </section>



   <footer class="container text-center">
    <div class="row">

      <div class="wrapper">
        <div class="copyright col-md-5 text-left">
          <p>
            &copy; 2016 The Automobile Association of South Africa.<br>
            All Rights Reserved
          </p>
        </div>

        <div class="call-back col-md-3 col-sm-12 col-xs-12">

         <a href="https://www.aa.co.za/products/aa-membership/call-me-to-complete-my-membership-application.html">Call me back</a>
       </div>   

       <div class="logo col-md-4 col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 " style="margin:0px;">
       

      </div>
    </div>
  </div>
</footer>
</div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="js/vendor/bootstrap.min.js"></script>

<script src="js/main.js"></script>


</body>
</html>
