<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  </style>
  <link rel="stylesheet" href="css/main.css">

  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->


            <!-- Header -->
            <header class="text-center container">


              <div class="row">
                <div class="col-md-12">

                  <h1 class="save-with">SAVE<br> WITH THE AA</h1>


                  <p class="sub-heading">Essential roadside assistance with the core <br>benefits you need</p>


                  <p class="from-only">From only</p>
                  <h3 class="price">R79 per month!</h3>


                  <br>
                  <a href="https://www.aa.co.za/products/aa-membership/apply-now/"><img class="join-now-btn"src="img/join-now.png" alt=""></a>


                  <p class="terms">Ts &amp; Cs Apply</p>
                </div>

              </div> <!-- End Row -->

            </header>
            <!--  End Header -->


            <!--  Mid Section -->
            <section class="mid container">
              <div class="row">
               <div class="col-md-12">
                <p class="mid-heading text-center">Choose AA Action roadside assistance with <br>
                  the core benefits you need.</p>

                </div>
              </div><!-- End Row -->


              <div class="row">
               <div class="col-md-12">




<div class="wrapper col-md-offset-1 col-md-10">

<div class="row">
  <div class="col-md-12 text-center block-header">
  <span>FROM R79 PER</span> MONTH YOU ENJOY...
</div>
</div><!-- End Row -->

<div class="row block-content">
  <div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-6">
  <strong>2 FREE</strong> roadsite assistance <br>
  entitlements whether you<br>
  need rodside repairs, battery<br>
  services or a locksmith<br>

  FREE AA Mayday<br>
  <strong>emergency medial rescue</strong><br>
</div>

 <div class="col-md-4 col-sm-6 col-xs-6">
 <div class="row">
  <div class="col-md-1 col-xs-1"><img class="tick" src="img/tick.png" alt=""></div> 
<div class="col-md-10 col-xs-10">Includes a call-out distance of <br>
 <strong>20 FREE</strong> kilometres for <br>
 electrical or mechanical <br>
 breakdown. <br></div> 
 </div>
 

<div class="row">
  <div class="col-md-1 col-xs-1"><img class="tick" src="img/tick.png" alt=""></div> 
<div class="col-md-10 col-xs-10"><strong>24 Hour</strong> Emergency Call <br>
 Centre.
 </div>
</div>
</div><!-- End Row -->

<div class="row">
  <div class="col-md-12 col-xs-12  text-center block-callout-text">
  Get Peace knowing that you can trust the AA to be there for you <br>
  when you get stuck on the side of the road.
</div>
</div><!-- End Row -->


<div class="row">
  <div class="col-md-12 text-center">
  <a href="https://www.aa.co.za/products/aa-membership/apply-now/"><img class="block-join-now-btn"src="img/join-now.png" alt=""></a>
</div>
</div><!-- End Row -->


<div class="row">
  <div class="col-md-12 text-center">
   <p class="block-terms">*Ts &amp; Cs Apply</p>
</div>
</div><!-- End Row -->

</div><!-- End Wrapper -->


               </div>
             </div><!-- End Row -->
           </section>

           <!-- End Mid Section -->


           <!-- Footer -->
           <footer class="container">

            <div class="row">
              <div class="col-md-12 text-center">

                <a href="https://www.aa.co.za/products/aa-membership/call-me-to-complete-my-membership-application.html" class="call-back-btn">Call me back</a>
              </div>

              <div class="col-md-12">
                <p class="copyright">
                  &copy; 2016 The Automobile Association of South Africa. <br>All Rights Reserved

                </p>
              </div>
            </div> <!-- End Row -->
          </footer>
          <!-- End Footer -->











        </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

        
      </body>
      </html>
